@import 'reset';


body {
    color: #222222;
    main {
        header {
            position: absolute;
            top: 6vh;
            background: #f3f3f3;
            opacity: 0.9;
            border: 1px solid #C7C7C7;
            border-radius: 4px;
            box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
            z-index: 99999;
            padding: 0.5em;
            margin: 1em 10px;
            h1 {
                font: 22px/32px 'Work Sans', sans-serif;
                font-weight: 500;
                @media screen and (min-width: 1024px) {
                    font: 26px/36px 'Work Sans', sans-serif;
                    font-weight: 500; 
                }
                @media screen and (min-width: 1440px) {
                    font: 28px/38px 'Work Sans', sans-serif;
                    font-weight: 500; 
                }
                @media screen and (min-width: 1680px) {
                    font: 32px/42px 'Work Sans', sans-serif;
                    font-weight: 500;  
                }
            }
        }
        #map {
            height: 100vh;
        }
        #navigation {
            position: absolute;
            bottom: 1vh;
            background: #f3f3f3;
            opacity: 0.9;
            border: 1px solid #C7C7C7;
            border-radius: 4px;
            box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
            z-index: 99999;
            padding: 0.5em;
            margin: 1em 10px;
        }
    }
}

body {
    margin: 0;
    padding: 0;
    color: #222222;
    #map {
        height: 100vh;
        .gmnoprint {
            margin: 1em;
        }
    }
    #navigation {
        // position: absolute;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // flex-direction: column;
        // bottom: 1vh;
        // width: 80vw;
        // margin: 1em;
        // background: #f3f3f3;
        // opacity: 0.9;
        // border: 1px solid #C7C7C7;
        // border-radius: 4px;
        // box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
        @media screen and (min-width: 1024px) {
            width: 60vw;
        }
        button {
            background: none;
            border: none;
            padding: 1em;
            height: 100%;
            transition: all 0.4s ease;
            display: flex;
            flex-direction: column;
            svg {
                transition: all 0.4s ease;
                fill: #222222;
            }
            &:hover, &:focus {
                color: #53D8FB;
                svg {
                    fill: #53D8FB;
                }
            }
            // &.active {
            //     color: #53D8FB;
            // }
        }
        .row {
            display: flex;
            flex-direction: row;
            width: 100%;
            &.buttons {
                border-bottom: 1px solid #C7C7C7;
                justify-content: center;
                align-items: center;
                height: 4em;
                @media screen and (min-width: 650px) {
                    height: 6em;
                }
                button {
                    width: 33.33%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 0;
                    border-right: 1px solid #C7C7C7;
                    &:last-child {
                        border: none;
                    }
                    @media screen and (min-width: 650px) {
                        font: 18px/28px 'Work Sans', sans-serif;
                        font-weight: 300;
                    }
                    @media screen and (min-width: 1440px) {
                        font: 24px/34px 'Work Sans', sans-serif;
                        font-weight: 300;
                    }
                    @media screen and (min-width: 1920px) {
                        font: 26px/36px 'Work Sans', sans-serif;
                        font-weight: 300;
                    }
                }
            }
            &.user-location {
                justify-content: flex-start;
                input {
                    background: none;
                    border: none;
                    padding: 1em;
                    width: 100%;
                    // border-right: 1px solid #C7C7C7;
                    font: 16px/24px 'Work Sans', sans-serif;
                    @media screen and (min-width: 1440px) {
                        font: 21px/29px 'Work Sans', sans-serif;
                        font-weight: 300;
                    }
                    @media screen and (min-width: 1920px) {
                        font: 23px/31px 'Work Sans', sans-serif;
                        font-weight: 300;
                    }
                }
                #find-user {
                    width: 25%;
                    font: 16px/24px 'Work Sans', sans-serif;
                    font-weight: 500;
                    @media screen and (min-width: 1440px) {
                        font: 21px/31px 'Work Sans', sans-serif;
                        font-weight: 500;
                    }
                    @media screen and (min-width: 1920px) {
                        font: 23px/31px 'Work Sans', sans-serif;
                        font-weight: 300;
                    }
                }
            }
        }
    }
}





// body {
//     color: #FFFFFF;
//     background: linear-gradient(90deg, #5345F9 0%, #A93EE1 100%);
//     // background-size: 600% 600%;
//     // animation: animateBackground 8s ease infinite;
//     @keyframes animateBackground { 
//         0%{background-position:0% 10%}
//         50%{background-position:100% 91%}
//         100%{background-position:0% 10%}
//     }
//     main {
//         display: flex;
//         flex-direction: column;
//         min-height: 300px;
//         height: 100vh;
//         padding: 0 8px;
//         header {
//             h1 {
//                 font: 30px/40px 'Work Sans', sans-serif;
//                 font-weight: 300;
//                 text-align: center;
//                 @media screen and (min-width: 650px) {
//                     font: 34px/44px 'Work Sans', sans-serif;
//                     font-weight: 300;
//                 }
//                 @media screen and (min-width: 720px) {
//                     font: 40px/50px 'Work Sans', sans-serif;
//                     font-weight: 300;
//                 }
//                 @media screen and (min-width: 1024px) {
//                     font: 50px/60px 'Work Sans', sans-serif;
//                     font-weight: 300;
//                 }
//                 @media screen and (min-width: 1440px) {
//                     font: 60px/70px 'Work Sans', sans-serif;
//                     font-weight: 300;
//                 }
//                 @media screen and (min-width: 1920px) {
//                     font: 80px/90px 'Work Sans', sans-serif;
//                     font-weight: 300;
//                 }
//             }
//         }
//         #map {
//             flex-grow: 1;
//             border-radius: 4px;
//         }
//         nav {
//             display: flex;
//             flex-direction: column;
//             @media screen and (min-width: 720px) {
//                 flex-direction: row;
//             }
//             select {
//                 width: 100%;
//                 border: none;
//                 background: transparent;
//                 color: #FFFFFF;
//                 font: 18px/24px 'Work Sans', sans-serif;
//                 font-weight: 300;
//                 @media screen and (min-width: 650px) {
//                     font: 20px/26px 'Work Sans', sans-serif;
//                     font-weight: 300;
//                 }
//                 @media screen and (min-width: 720px) {
//                     font: 24px/30px 'Work Sans', sans-serif;
//                     font-weight: 300;
//                 }
//                 @media screen and (min-width: 1024px) {
//                     font: 30px/34px 'Work Sans', sans-serif;
//                     font-weight: 300;
//                 }
//                 @media screen and (min-width: 1440px) {
//                     font: 34px/40px 'Work Sans', sans-serif;
//                     font-weight: 300;
//                 }
//                 @media screen and (min-width: 1920px) {
//                     font: 38px/44px 'Work Sans', sans-serif;
//                     font-weight: 300;
//                 }
//             }
//             #modes {
//                 display: flex;
//                 flex-direction: row;
//                 width: 100%;
//                 button {
//                     display: flex;
//                     justify-content: center;
//                     align-items: center;
//                     background: #783BDA;
//                     border-radius: 100%;
//                     border: none;
//                     color: #FFFFFF;
//                     box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
//                     picture {
//                         svg {
//                             fill: #FFFFFF;
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }