@import 'reset';

body {
    color: #222222;
    main {
        header {
            position: absolute;
            top: 7vh;
            background: #FFFFFF;
            opacity: 0.9;
            border: 1px solid #C7C7C7;
            border-radius: 4px;
            box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
            z-index: 99999;
            padding: 0.5em;
            margin: 1em 9px;
            @media screen and (min-width: 720px) {
                top: 4vh;
            }
            h1 {
                font: 22px/32px 'Work Sans', sans-serif;
                font-weight: 500;
                @media screen and (min-width: 1024px) {
                    font: 26px/36px 'Work Sans', sans-serif;
                    font-weight: 500; 
                }
                @media screen and (min-width: 1440px) {
                    font: 28px/38px 'Work Sans', sans-serif;
                    font-weight: 500; 
                }
                @media screen and (min-width: 1680px) {
                    font: 32px/42px 'Work Sans', sans-serif;
                    font-weight: 500;  
                }
            }
        }
        #map {
            height: 100vh;
        }
        #navigation {
            width: 60vw;
            position: absolute;
            bottom: 1vh;
            background: #FFFFFF;
            opacity: 0.9;
            border: 1px solid #C7C7C7;
            border-radius: 4px;
            box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
            z-index: 99999;
            margin: 1em 10px;
            @media screen and (min-width: 1024px) {
                width: 40vw;
            }
            .modes {
                display: flex;
                flex-direction: row;
                width: 100%;
                border-bottom: 1px solid #C7C7C7;
                button {
                    width: 33.33%;
                    padding: 0;
                    background: none;
                    border: none;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    transition: all 0.4s ease;
                    font-size: 0;
                    border-right: 1px solid #C7C7C7;
                    &:last-child {
                        border: none;
                    }
                    @media screen and (min-width: 650px) {
                        font: 16px/26px 'Work Sans', sans-serif;
                        font-weight: 300;
                    }
                    @media screen and (min-width: 1440px) {
                        font: 22px/32px 'Work Sans', sans-serif;
                        font-weight: 300;
                    }
                    @media screen and (min-width: 1920px) {
                        font: 24px/34px 'Work Sans', sans-serif;
                        font-weight: 300;
                    }
                    picture {
                        svg {
                            transition: all 0.4s ease;
                            fill: #222222;
                            padding: 10px; 
                        }
                    }
                    &:hover, &:focus {
                        color: #53D8FB;
                        picture {
                            svg {
                                fill: #53D8FB;
                            }
                        }
                    }
                }
            }
            .parks-select {
                select {
                    border: 0;
                    width: 100%;
                    padding: 0.5em;
                    font: 16px/24px 'Work Sans', sans-serif;
                    font-weight: 500;
                    @media screen and (min-width: 720px) {
                        padding: 1em 0.5em;
                    }
                    @media screen and (min-width: 1440px) {
                        font: 22px/32px 'Work Sans', sans-serif;
                        font-weight: 500;
                    }
                    @media screen and (min-width: 1920px) {
                        font: 24px/34px 'Work Sans', sans-serif;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}